*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --purple: #5E3BEE;
}
.purple{
    color: var(--purple);
}
.btn-purple{
    border: 1px solid var(--purple);
    color: var(--purple);
}
