* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    src: url("./font/Roboto-VariableFont_wdth\,wght.ttf");
}

:root {
    --purple: #5E3BEE;
    --waterblue: #F5FCFF;
    --blue: #0F1221;
}

.purple {
    color: var(--purple) !important;
}

.btn-purple {
    border: 1px solid var(--purple);
    color: var(--purple);
}

.blue {
    color: var(--blue) !important;
}

.bgc {
    background-color: var(--waterblue) !important;
}

.herobtn {
    background-color: var(--purple);
    color: white;
}

.heroct1 {
    font-family: roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #282938;
}

.herohead {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0%;

}

.heroct {
    font-family: roboto;
    font-weight: 350;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #1C1E53;

}

.skl-ct {
    width: 1024;
    height: 130.3333282470703;
    gap: 21.33px;
    opacity: 1;

}

.img {
    width: 80px;
    height: 80px;
    gap: 13px;
    opacity: 1;
    border-radius: 10px;
    padding: 5x;

}